{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto">
                    <a href="{% static 'index.html">Brailearn<span class="text-primary">.</span></a>
                    </div>
                    <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                        <div class="d-flex site-info align-items-center mr-5">
                            <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                            <span>Aceh,<br>Indonesia</span>
                        </div>
                        <div class="d-flex site-info align-items-center">
                            <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                            <span>Developed on May,<br>2020</span>
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="menu-wrap d-flex align-items-center">
                    <span class="d-inline-block d-lg-none"><a href="#"
                            class="text-black site-menu-toggle js-menu-toggle py-5"><span
                                class="icon-menu h3 text-black"></span></a></span>

                    <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto ">
                        {% if user.is_authenticated %}
                        <li class=" active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                        <li><a href="{% url 'word' %}" class="nav-link">Word</a></li>
                        <li><a href="{% url 'tips' %}" class="nav-link">Tips Braille</a></li>
                        <li><a href="{% url 'forum' %}" class="nav-link">Forum</a></li>
                        {% endif %}
                        </ul>
                        </nav>

                        {% if user.is_authenticated %}
                        <div class=" top-social ml-auto">
                            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                        </div>
                        {% else %}
                        <div class="top-social ml-auto">
                            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                        </div>
                        {% endif %}
                </div>
            </div>

    </header>
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 text-red">Welcome To Our Website</span>
                        {% if user.is_authenticated %}
                        <h1 class="mb-3 font-weight-bold text-teal">{{user.username}}</h1>
                        {% else %}
                        <p>Amazing apps to learn braille</p>
                        <p class="mt-5"><a href="{% url 'signup' %}"
                                class="btn btn-primary py-4 btn-custom-1">REGISTER</a></p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 ml-auto align-self-end">
                        <img src="{% static 'images/kid_transparent.png' %}" alt="Image" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    {% else %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-2 red">
                        <span class="wrap-icon">
                            <span class="icon-home"></span>
                        </span>
                        <h2>Word</h2>
                        <p>There are a lot of Word to learn from A-Z and 0-9</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-2 yellow">
                        <span class="wrap-icon">
                            <span class="icon-person"></span>
                        </span>
                        <h2>Tips</h2>
                        <p>There are a lot of tips here that can help you learn braille's pattern</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-2 teal">
                        <span class="wrap-icon">
                            <span class="icon-cog"></span>
                        </span>
                        <h2>Forum</h2>
                        <p>Spread story all around the world and share with others</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="{% static 'images/img_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-5 ml-auto pl-md-5">
                        <span class="text-cursive h5 text-red">About Us</span>
                        <h3 class="text-black">Bring Fun Life To Your Kids</h3>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum
                                maxime enim.</span><span>Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis
                                praesentium voluptatem accusamus, earum veritatis, laudantium.</span></p>

                        <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <div class="site-section bg-info">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <span class="text-cursive h5 text-red d-block">Packages You Like</span>
                        <h2 class="text-white">Our Packages</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                            <span class="img-wrap"><img src="{% static 'images/flaticon/svg/001-jigsaw.svg" alt="Image"
                                    class="img-fluid"></span>
                            <h3 class="text-teal">Indoor Games</h3>
                            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis
                                distinctio soluta recusandae?</p>
                            <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                            <span class="img-wrap"><img src="{% static 'images/flaticon/svg/002-target.svg" alt="Image"
                                    class="img-fluid"></span>
                            <h3 class="text-success">Outdoor Game and Event</h3>
                            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis
                                distinctio soluta recusandae?</p>
                            <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                            <span class="img-wrap"><img src="{% static 'images/flaticon/svg/003-mission.svg" alt="Image"
                                    class="img-fluid"></span>
                            <h3 class="text-danger">Camping for Kids</h3>
                            <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis
                                distinctio soluta recusandae?</p>
                            <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="text-cursive h5 text-red d-block">Pricing Plan</span>
                        <h2 class="text-black">Our Pricing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis cupiditate fugit,
                            voluptatibus ullam, non laboriosam alias veniam, ex inventore iure sed?</p>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing teal">
                            <span class="price">
                                <span>$30</span>
                            </span>
                            <h3>Silver Pack</h3>
                            <ul class="ul-check list-unstyled teal">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Nemo quis cupiditate</li>
                            </ul>
                            <p><a href="#" class="btn btn-teal btn-custom-1 mt-4">Buy Now</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing danger">
                            <span class="price">
                                <span>$70</span>
                            </span>
                            <h3>Golden Pack</h3>
                            <ul class="ul-check list-unstyled danger">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Nemo quis cupiditate</li>
                            </ul>
                            <p><a href="#" class="btn btn-danger btn-custom-1 mt-4">Buy Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <span class="text-cursive h5 text-red d-block">Testimonial</span>
                    <h2 class="text-black">What Our Client Says About Us</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="testimonial-3-wrap">


                        <div class="owl-carousel nonloop-block-13">
                            <div class="testimonial-3 d-flex">
                                <div class="vcard-wrap mr-5">
                                    <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="vcard img-fluid">
                                </div>
                                <div class="text">
                                    <h3>Jeff Woodland</h3>
                                    <p class="position">Partner</p>
                                    <p>This app is so great. i can teach my brother that blind to know the pattern</p>
                                </div>
                            </div>

                            <div class="testimonial-3 d-flex">
                                <div class="vcard-wrap mr-5">
                                    <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="vcard img-fluid">
                                </div>
                                <div class="text">
                                    <h3>Jeff Woodland</h3>
                                    <p class="position">Partner</p>
                                    <p>This app is wonderful</p>
                                </div>
                            </div>

                            <div class="testimonial-3 d-flex">
                                <div class="vcard-wrap mr-5">
                                    <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="vcard img-fluid">
                                </div>
                                <div class="text">
                                    <h3>Jeff Woodland</h3>
                                    <p class="position">Partner</p>
                                    <p>This app is so good. i can teach my friend that blind to know the pattern</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">

                <div class="col-md-8">


                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <span class="text-teal h2 d-block">3423</span>
                            <span>Happy Client</span>
                        </div>
                        <div class="col-lg-3 text-center">
                            <span class="text-yellow h2 d-block">4398</span>
                            <span>Members</span>
                        </div>
                        <div class="col-lg-3 text-center">
                            <span class="text-success h2 d-block">50+</span>
                            <span>Staffs</span>
                        </div>
                        <div class="col-lg-3 text-center">
                            <span class="text-danger h2 d-block">2000+</span>
                            <span>Our Followers</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}